{% extends 'vredirect/_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set showSiteSelector = craft.app.getIsMultiSite() and brandNewRedirect is defined and brandNewRedirect == true %}

{% set selectedSubnavItem = 'redirects' %}
{% if brandNewRedirect is defined and brandNewRedirect %}
    {% set title = "New Redirect"|t('vredirect') %}
    {% if catchAllRecord is defined %}
        {% set title = "New Redirect from 404"|t('vredirect') %}
    {% endif %}
{% else %}
    {% set title = "Edit Redirect"|t('vredirect') %}
{% endif %}


{% block actionButton %}
    <div class="btngroup">
        <div class="btn submit formsubmit" data-form="redirectform">{{ 'Save'|t('app') }}</div>
        <div class="btn submit menubtn" data-form="redirectform"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ 'redirect/redirects/new#'|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
            </ul>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}
    <form id="redirectform" method="post" accept-charset="UTF-8"
          data-saveshortcut{% if brandNewRedirect is defined and brandNewRedirect %} data-saveshortcut-redirect="{{ 'redirect/redirects/new'|hash }}"{% endif %}
          data-confirm-unload>
        {{ csrfInput() }}
        {{ actionInput('vredirect/redirects/save-redirect') }}

        {% if redirect is defined and redirect.id %}
            {{ hiddenInput('redirectId', redirect.id) }}
        {% endif %}

        {% if catchAllRecord is defined and catchAllRecord.id %}
            {{ hiddenInput('catchAllRecordId', catchAllRecord.id) }}
        {% endif %}
        <div>
            {% if showSiteSelector %}
                {% set siteId = currentSiteId %}
                {% if catchAllRecord is defined and catchAllRecord.siteId is defined %}
                    {% set siteId = catchAllRecord.siteId %}
                {% endif %}
                {{ forms.selectField({
                    label: "Source Site"|t('vredirect'),
                    first: true,
                    name: 'siteId',
                    options: editableSitesOptions,
                    value: siteId,
                    toggle: true,
                    errors: redirect.getErrors('siteId')
                }) }}
            {% elseif craft.app.getIsMultiSite() %}
                {{ hiddenInput('siteId', currentSiteId) }}
            {% endif %}

            {{ forms.selectField({
                label: "Match Type"|t('vredirect'),
                instructions: "Static redirects will match the exact URL. RegEx matches will match a regular expression and allows for option group replacements."|t('vredirect'),
                name: 'type',
                first: (not showSiteSelector),
                options: typeOptions,
                value: redirect.type,
                errors: redirect.getErrors('type')
            }) }}
            {% set catchAllUrl = null %}
            {% if catchAllRecord is defined %}
                {% set catchAllUrl = catchAllRecord.uri %}
                {% if catchAllRecord.query %}
                    {% set catchAllUrl = catchAllUrl ~ '?' ~ catchAllRecord.query %}
                {% endif %}
            {% endif %}
            {{ forms.textField({
                label: "Source URI"|t('vredirect'),
                instructions: "The URI to be redirected - should not include the site URL, only the path."|t('vredirect'),
                class: 'ltr',
                name: 'sourceUrl',
                value: redirect.sourceUrl ?? catchAllUrl ?? '',
                errors: redirect.getErrors('sourceUrl'),
                required: true
            }) }}

            {% if redirect.destinationElementId %}
                <div class="field">
                    <div class="heading">
                        <label class="required">{{ 'Target Element'|t('vredirect') }}</label>
                        <div class="instructions"><p>{{ 'This redirect is tied to an element and may not be edited.'|t('vredirect') }}</p>
                        </div>
                    </div>
                    <div class="input ltr">
                        {% include '_elements/element' with {
                            element: craft.app.elements.elementById(redirect.destinationElementId, null, redirect.destinationElementSiteId),
                        } %}
                    </div>
                </div>
            {% else %}
            {{ forms.textField({
                label: "Destination URL"|t('vredirect'),
                instructions: "The final URL"|t('vredirect'),
                class: 'ltr',
                name: 'destinationUrl',
                value: redirect.destinationUrl,
                errors: redirect.getErrors('destinationUrl'),
                required: true
            }) }}
            {% endif %}
            {{ forms.selectField({
                label: "Redirect Type"|t('vredirect'),
                instructions: "Redirect status code"|t('vredirect'),
                name: 'statusCode',
                options: statusCodeOptions,
                value: redirect.statusCode,
                errors: redirect.getErrors('statusCode')
            }) }}
        </div>
    </form>
{% endblock %}

{% block details %}
{% if redirect.id %}
<div class="meta">
    <div class="data">
        <h5 class="heading">Date Created</h5>
        <div class="value">{{ redirect.dateCreated|date('short') }} {{ redirect.dateCreated|time('short') }}</div>
    </div>
    <div class="data">
        <h5 class="heading">Last Updated</h5>
        <div class="value">{{ redirect.dateUpdated|date('short') }} {{ redirect.dateUpdated|time('short') }}</div>
    </div>
    <div class="data">
        <h5 class="heading">Hit Count</h5>
        <div class="value">{{ redirect.hitCount }}</div>
    </div>
</div>
{% endif %}
{% endblock %}

