{% extends 'vredirect/_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set showSiteSelector = craft.app.getIsMultiSite() and brandNewRedirect is defined and brandNewRedirect == true %}
{% set fullPageForm = true %}
{% set saveShortcut = true %}
{% if brandNewRedirect is defined and brandNewRedirect %}
    {% set saveShortcutRedirect = 'redirect/redirects/new' %}
{% endif %}

{% set selectedSubnavItem = 'redirects' %}
{% if brandNewRedirect is defined and brandNewRedirect %}
    {% set title = "New Redirect"|t('vredirect') %}
    {% if catchAllRecord is defined %}
        {% set title = "New Redirect from 404"|t('vredirect') %}
    {% endif %}
{% else %}
    {% set title = "Edit Redirect"|t('vredirect') %}
{% endif %}

{% block actionButton %}
    <div class="btngroup">
        <div class="btn submit formsubmit" data-form="redirectform">{{ 'Save'|t('app') }}</div>
        <div class="btn submit menubtn" data-form="redirectform"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ 'redirect/redirects/new#'|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
            </ul>
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block content %}
        {{ actionInput('vredirect/redirects/save-redirect') }}

        {% if redirect.id %}
            {{ hiddenInput('redirectId', redirect.id) }}
        {% endif %}

        {% if catchAllRecord is defined and catchAllRecord.id %}
            {{ hiddenInput('catchAllRecordId', catchAllRecord.id) }}
        {% endif %}

        <div>
            {{ forms.selectField({
                label: "Source Site"|t('vredirect'),
                first: true,
                name: 'siteId',
                options: editableSitesOptions,
                value: redirect.siteId ?? craft.app.sites.currentSite.id,
                toggle: true,
                errors: redirect.getErrors('siteId')
            }) }}

            {% set catchAllUrl = null %}
            {% if catchAllRecord is defined %}
                {% set catchAllUrl = catchAllRecord.uri %}
                {% if catchAllRecord.query %}
                    {% set catchAllUrl = catchAllUrl ~ '?' ~ catchAllRecord.query %}
                {% endif %}
            {% endif %}
            {{ forms.textField({
                label: "Source URI"|t('vredirect'),
                instructions: "The URI to be redirected - should not include the site URL, only the path."|t('vredirect'),
                class: 'ltr',
                name: 'sourceUrl',
                value: redirect.sourceUrl ?? catchAllUrl ?? '',
                errors: redirect.getErrors('sourceUrl'),
                required: true
            }) }}

            {{ forms.selectField({
                label: "Destination Site"|t('vredirect'),
                first: true,
                name: 'destionationElementSiteId',
                options: editableSitesOptions|merge([{label: 'External URL'|t('vredirect'), value: null}]),
                value: redirect.destinationElementSiteId ?? craft.app.sites.currentSite.id,
                toggle: true,
                errors: redirect.getErrors('destinationElementSiteId')
            }) }}

            {% if redirect.destinationElementId %}
                <div class="field">
                    <div class="heading">
                        <label class="required">{{ 'Target Element'|t('vredirect') }}</label>
                        <div class="instructions"><p>{{ 'This redirect is tied to an element and may not be edited.'|t('vredirect') }}</p>
                        </div>
                    </div>
                    <div class="input ltr">
                        {% include '_elements/element' with {
                            element: craft.app.elements.elementById(redirect.destinationElementId, null, redirect.destinationElementSiteId),
                        } %}
                    </div>
                </div>
            {% else %}
            {{ forms.textField({
                label: "Destination URL"|t('vredirect'),
                instructions: "The final URL"|t('vredirect'),
                class: 'ltr',
                name: 'destinationUrl',
                value: redirect.destinationUrl,
                errors: redirect.getErrors('destinationUrl'),
                required: true
            }) }}
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.selectField({
            label: "Match Type"|t('vredirect'),
            id: 'type',
            name: 'type',
            options: typeOptions,
            value: redirect.type,
            errors: redirect.getErrors('type')
        }) }}
        {{ forms.selectField({
            label: "Redirect Type"|t('vredirect'),
            name: 'statusCode',
            options: statusCodeOptions,
            value: redirect.statusCode,
            errors: redirect.getErrors('statusCode')
        }) }}
    </div>
{% if redirect.id %}
<div class="meta read-only">
    <div class="data">
        <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
        <div class="value">{{ redirect.dateCreated|datetime }}</div>
    </div>
    <div class="data">
        <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
        <div class="value">{{ redirect.dateUpdated|datetime('short') }}</div>
    </div>
    <div class="data">
        <h5 class="heading">{{'Hit Count'|t('vredirect')}}</h5>
        <div class="value">{{ redirect.hitCount }}</div>
    </div>
</div>
{% endif %}
{% endblock %}

