{% macro siteUrlField(config) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
        <div class="flex">
            <div class="prefix"></div>
            <div class="flex-grow">
                {{ forms.text(config) }}
            </div>
        </div>
    {% endset %}
    {{ forms.field(config, input) }}
{% endmacro %}


{% import _self as self %}

{% extends 'vredirect/_layouts/cp' %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}
{% set saveShortcut = true %}

{% if brandNewRedirect is defined and brandNewRedirect %}
    {% set saveShortcutRedirect = 'redirect/redirects/new' %}
{% endif %}

{% set selectedSubnavItem = 'redirects' %}
{% if brandNewRedirect is defined and brandNewRedirect %}
    {% set title = "New Redirect"|t('vredirect') %}
    {% if catchAllRecord is defined %}
        {% set title = "New Redirect from 404"|t('vredirect') %}
    {% endif %}
{% else %}
    {% set title = "Edit Redirect"|t('vredirect') %}
{% endif %}

{% block actionButton %}
    <div class="btngroup">
        <div class="btn submit formsubmit" data-form="main-form">{{ 'Save'|t('app') }}</div>
        <div class="btn submit menubtn" data-form="main-form"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit"
                       data-redirect="{{ 'redirect/redirects/new#'|hash }}">{{ "Save and add another"|t('app') }}</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ actionInput('vredirect/redirects/save-redirect') }}

    {% if catchAllRecord is defined %}
        <p class="first">{{ "You're creating a redirect from a registered 404. Once you save this redirect, that 404 entry will be deleted."|t('vredirect') }}</p>
    {% endif %}

    {% set catchAllUrl = null %}
    {% if catchAllRecord is defined %}
        {{ hiddenInput('catchAllRecordId', catchAllRecord.id) }}
        {% set catchAllUrl = catchAllRecord.uri %}
        {% if catchAllRecord.query %}
            {% set catchAllUrl = catchAllUrl ~ '?' ~ catchAllRecord.query %}
        {% endif %}
    {% endif %}

    {% if redirect.id %}
        {{ hiddenInput('redirectId', redirect.id) }}
    {% endif %}

    {% set sourceSiteId = redirect.siteId ?? craft.app.sites.currentSite.id %}
    {% if catchAllRecord is defined %}
        {% set sourceSiteId = catchAllRecord.siteId %}
    {% endif %}

    <div>
        {{ forms.selectField({
            label: "Source Site"|t('vredirect'),
            first: true,
            name: 'siteId',
            id: 'sourceSiteId',
            options: editableSitesOptions,
            value: sourceSiteId,
            toggle: true,
            errors: redirect.getErrors('siteId')
        }) }}


        {{ self.siteUrlField({
            label: "Source URI"|t('vredirect'),
            id: 'sourceUri',
            name: 'sourceUrl',
            value: redirect.sourceUrl ?? catchAllUrl ?? '',
            errors: redirect.getErrors('sourceUrl'),
            required: true
        }) }}

        {% if redirect.destinationElementId %}
            <div class="field">
                <div class="heading">
                    <label class="required">{{ 'Target Element'|t('vredirect') }}</label>
                    <div class="instructions">
                        <p>{{ 'This redirect is tied to an element and may not be edited.'|t('vredirect') }}</p>
                    </div>
                </div>
                <div class="input ltr">
                    <div class="elementselect">
                        <div class="elements">
                            {% include "_elements/element" with {
                                context: 'field',
                                element: craft.app.elements.elementById(redirect.destinationElementId, null, redirect.destinationSiteId),
                            } %}
                        </div>
                    </div>

                </div>
            </div>
        {% else %}
            {{ forms.selectField({
                label: "Destination Site"|t('vredirect'),
                name: 'destinationSiteId',
                id: 'destinationSiteId',
                options: editableSitesOptions|merge([{label: 'External URL'|t('vredirect'), value: null}]),
                value: redirect.destinationSiteId ?? (redirect.id ? null : craft.app.sites.currentSite.id),
                toggle: true,
                errors: redirect.getErrors('destinationSiteId')
            }) }}

            {{ self.siteUrlField({
                label: "Destination URL"|t('vredirect'),
                name: 'destinationUrl',
                id: 'destinationUrl',
                value: redirect.destinationUrl,
                errors: redirect.getErrors('destinationUrl'),
                required: true
            }) }}
            <hr>
        {% endif %}
    </div>

    {% js %}
        window.redirectSourceUriField = new Craft.UrlFieldInput('sourceSiteId', 'sourceUri-field');
        window.redirectDestinationUriField = new Craft.UrlFieldInput('destinationSiteId', 'destinationUrl-field');
    {% endjs %}

{% endblock %}

{% block details %}
    <div id="settings" class="meta">
        {{ forms.lightswitchField({
            label: "Enabled"|t('app'),
            id: 'enabled',
            name: 'enabled',
            on: redirect.enabled
        }) }}

        {{ forms.selectField({
            label: "Match Type"|t('vredirect'),
            id: 'type',
            name: 'type',
            options: typeOptions,
            value: redirect.type,
            errors: redirect.getErrors('type')
        }) }}

        {{ forms.selectField({
            label: "Redirect Type"|t('vredirect'),
            name: 'statusCode',
            options: statusCodeOptions,
            value: redirect.statusCode,
            errors: redirect.getErrors('statusCode')
        }) }}
    </div>
    {% if redirect.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ "Date Created"|t('app') }}</h5>
                <div class="value">{{ redirect.dateCreated|datetime }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Date Updated"|t('app') }}</h5>
                <div class="value">{{ redirect.dateUpdated|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ "Last Hit"|t('app') }}</h5>
                <div class="value">{{ redirect.hitAt|datetime('short') }}</div>
            </div>
            <div class="data">
                <h5 class="heading">{{ 'Hit Count'|t('vredirect') }}</h5>
                <div class="value">{{ redirect.hitCount }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

